@font-face {
    font-family: "AudioWide";
    src: url(/src/assets/fonts/audiowide_regular.woff2) format("woff2"),
    url(/src/assets/fonts/audiowide_regular.woff) format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "DMmono";
    src: url(/src/assets/fonts/DMMono-Regular.woff2) format("woff2"),
    url(/src/assets/fonts/DMMono-Regular.woff) format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url(/src/assets/fonts/Inter-Regular.woff2) format("woff2"),
    url(/src/assets/fonts/Inter-Regular.woff) format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.header{
    max-width: 1440px;
    max-height: 100px;
    padding: 50px 140px 0;
    background-color: black;
    font-family: "DMmono";
    font-size: 1.6rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

        &-left{
            display: flex;
            flex-direction: row;
            align-items:center;
            gap: 40px;
        }

        &-right{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 12px;
            
        }   
}

.main{
    max-width: 1440px;
    background-color: black;
        
        &-meta{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;

            &-record{
                max-width: 30%;
                color: white;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;

                &__topic{
                    font-family: "Audiowide";
                    font-size: 5.1rem;
                    line-height: 6rem;
                }

                &__article{
                    font-family: "Inter";
                    font-size: 1.6rem;
                    max-width: 80%;
                    line-height: 2.5rem;
                }

                &__button{
                    background-color: #8DFD1B;
                    font-family: "DMmono";
                    font-size: 1.6rem;
                    color: black;
                    height: 10%;
                    max-width: 50%;
                }

                &__button:hover{
                    border:1px solid #8DFD1B;
                    color: #8DFD1B;
                    background-color: #000000;
                    transition: 2s;
                }
            }

            &-collection{
                margin-bottom: 125px;
            }

            &-wave{
                font-family:"audiowide";
                font-size: 3.8rem;
                line-height: 4.5rem;
                color: #ffffff;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;

                .topic-grey{
                    color: #A8A8A8;
                    max-width: 90%;
                    padding-bottom: 40px;
                }

            }

            &-eco{
                max-width: 40%;
                color: white;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;

                &__topic{
                    font-family: "dmmono";
                    font-size: 2.1rem;
                    color: #8DFD1B;
                    line-height: 3.2rem;
                    border-left: 1px solid #8DFD1B;
                    padding-left: 22px;
                }

                &-article{
                    font-style: "Inter";
                    font-size: 1.6rem;
                    line-height: 2.5rem;
                    max-width: 84%;
                    display: flex;
                    flex-direction: column;
                    gap: 18px;
                }

                &__button{
                    background-color: black;
                    border: 1px solid #8DFD1B;
                    color: #ffffff;
                    font-family: "dmmono";
                    font-size: 1.6rem;
                    max-width: 50%;
                    height: 10%;
                }

                &__button:hover{
                    color: black;
                    background-color: #8DFD1B;
                    transition: 2s;
                }

            }
        }

    &-ticker{
        &-artist{
            margin: 115px 0 140px;
            font-family:"audiowide";
            font-size: 8rem;
            line-height: 9rem;
            color: #ffffff;
        }
        &-logo{
            margin: 115px 0 140px;
            font-family:"audiowide";
            font-size: 3.5rem;
            line-height: 4rem;
            color: #ffffff;
            &__item{
                padding-top: 50px;
            }
        }
        &-team{
            margin: 110px 0 130px;
            font-family:"audiowide";
            font-size: 8rem;
            line-height: 9rem;
            color: #ffffff;
        }
    }

    &-artists{
        padding-left: 40px;
        display: grid;
        grid-template-columns: repeat(4, 21%);
        // grid-column-gap: 60px;
        grid-row-gap: 80px;
        margin-bottom: 250px;
        justify-items: start;
        
        &-profile{
            &__name{
                font-family: "dmmono";
                font-size: 1.6rem;
                line-height: 2.4rem;
                color: #ffffff;
                text-align: center;
                padding-top: 20px;
            }
        }
    }

    &-story{
        &-topic{
            font-family: "audiowide";
            font-size: 4rem;
            line-height: 4.5rem;
            text-align: center;
            padding-bottom: 60px;

            &__white{
                color: #ffffff;
            }
            &__grey{
                color: #A8A8A8;
            }
        }

        &-content{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            padding-left: 40px;
           
            &-buttons{
                font-family: "dmmono";
                font-size: 1.6rem;
                line-height: 1.6rem;
                color: white;
                    
                &-check{
                        
                    &-back{
                        display: flex;
                        width: 280px;
                        height: 72px;
                        
                            &__item{
                                appearance: none;
                                -webkit-appearance: none;
                            }
    
                            &__text{
                                display: flex;
                                justify-content: flex-start;
                                align-items: center;
                                padding-left: 30px;
                                width: 100%;
                                height: 100%;
                            }
    
                            &__item:checked + &__text{
                                background-color: #222222;
                                color: #8DFD1B;
                            }
                        }    
                    }
            }

            &-description{
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                background-color: #222222;
                max-width: 65%;
                padding: 60px 90px 80px 60px;
                gap: 40px;
                &-text{
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
    
                    &__topic{
                        font-family: "dmmono";
                        font-size: 2.1rem;
                        color: #8DFD1B;
                        line-height: 3.2rem;
                        border-left: 1px solid #8DFD1B;
                        padding-left: 22px;
                    }

                    &__article{
                        font-family: "inter";
                        font-size: 1.6rem;
                        line-height: 2.5rem;
                        color: #ffffff;
                        max-width: 95%;
                        
                    }
                }
            }
        }   
    }

    &-parallax{
        margin-top: 120px;    
        height: 240px;
        background-image: url(/src/assets/Main/parallax.jpg);
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    &-test{
        display: grid;
        grid-template-columns: repeat(2, 33%);
        grid-template-rows: repeat(8, 12.5%);
        overflow: hidden;
        position: absolute;
        max-height: 2000px;
        
        .top{
            grid-column: 1;
            grid-row: 2;
            place-self: center;
        }

        .mid{
            grid-column: 3;
            grid-row: 4;
            place-self: center;
        }

        .bot{
            grid-column: 1;
            grid-row: 6;
            place-self: center;
        }
        
        &-one{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 700px;
            height: 700px;
            border-radius: 50%;
            border: 1px solid rgba(141, 253, 27, 0);
            animation: one 9s infinite ease-in-out 8s;
        }
        &-two{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 630px;
            height: 630px;
            border-radius: 50%;
            border: 1px solid rgba(141, 253, 27, 0);
            animation: one 9s infinite ease-in-out 7s;
        }

        &-three{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 560px;
            height: 560px;
            border-radius: 50%;
            border: 1px solid rgba(141, 253, 27, 0);
            animation: one 9s infinite ease-in-out 6s;
        }

        &-four{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 490px;
            height: 490px;
            border-radius: 50%;
            border: 1px solid rgba(141, 253, 27, 0);
            animation: one 9s infinite ease-in-out 5s;
        }

        &-five{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 420px;
            height: 420px;
            border-radius: 50%;
            border: 1px solid rgba(141, 253, 27, 0);
            animation: one 9s infinite ease-in-out 4s;
        }

        &-six{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 350px;
            height: 350px;
            border-radius: 50%;
            border: 1px solid rgba(141, 253, 27, 0);
            animation: one 9s infinite ease-in-out 3s;
        }

        &-seven{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 280px;
            height: 280px;
            border-radius: 50%;
            border: 1px solid rgba(141, 253, 27, 0);
            animation: one 9s infinite ease-in-out 2s;
        }

        &-eight{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 210px;
            height: 210px;
            border-radius: 50%;
            border: 1px solid rgba(141, 253, 27, 0)rgba(141, 253, 27, 0);
            animation: one 9s infinite ease-in-out 1s;
        }
        
        &-nine{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 140px;
            height: 140px;
            border-radius: 50%;
            border: 1px solid #8DFD1B;
            animation: one 9s infinite ease-in-out;
        }

        @keyframes one {
            0%{
                border: 1px solid rgba(141, 253, 27, 0); 
            }
            10%{
                border: 1px solid rgba(141, 253, 27, 0.2); 
            }
            20%{
                border: 1px solid rgba(141, 253, 27, 0.4); 
            }
            30%{
                border: 1px solid rgba(141, 253, 27, 0.6); 
            }
            40%{
                border: 1px solid rgba(141, 253, 27, 0.8); 
            }
            50%{
                border: 1px solid rgba(141, 253, 27, 1); 
            }
            60%{
                border: 1px solid rgba(141, 253, 27, 0.8); 
            }
            70%{
                border: 1px solid rgba(141, 253, 27, 0.6); 
            }
            80%{
                border: 1px solid rgba(141, 253, 27, 0.4); 
            }
            90%{
                border: 1px solid rgba(141, 253, 27, 0.2); 
            }
            100%{
                border: 1px solid rgba(141, 253, 27, 0); 
            }   
        }

    }

    &-roadmap{
        position: relative;
        margin-top: 120px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 60px;
        &-topic{
            font-family: "audiowide";
            font-size: 3.8rem;
            line-height: 4.5rem;
            color: white;
            margin-bottom: 70px;
        }

        &-line{
            height: 40px;
            border-left:1px solid #8DFD1B;
        }

        &-phase{
            background-color: #222222;
            border: 1px solid #8DFD1B;
            width: 40%;         
            
            &-topic{
                font-family: "dmmono";
                display: grid;
                grid-template-areas:'number status'
                                    'number name'  ;
                column-gap: 15px;
                justify-content: start;
                align-items: center;
                border-bottom:1px solid #8DFD1B;
                padding: 15px 0 15px 15px;

                &__number{
                    width: 45px;
                    height: 45px;
                    background-color: #8DFD1B;
                    font-size: 2.8rem;
                    color: #000000;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    grid-area: number;
                }

                &__status{
                    font-size: 0.8rem;
                    color: #8DFD1B;
                    grid-area: status;
                }

                &__name{
                    font-size: 1.6rem;
                    line-height: 2.7rem;
                    color: white;
                    text-transform: uppercase;
                    grid-area: name;
                }
            }

            &-content{
                font-family: "inter";
                font-size: 1.2rem;
                color: #ffffff;
                display: grid;
                grid-template-areas:'task pic'
                                    'result pic';
                padding: 35px 15px;
                &-task{
                    display: flex;
                    flex-direction: column;
                    padding-left: 20px;
                    padding-bottom: 20px;
                    gap: 10px;
                    grid-area: task;
                }

                &-result{
                    max-width: 80%;
                    grid-area: result;
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    line-height: 2.6rem;
                }

                &-pic{
                    grid-area: pic;
                }
            }
        }
    }

    &-faq{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        &-left{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            &-topic{
                font-family: "audiowide";
                font-size: 3.8rem;
                line-height: 4.5rem;
                text-transform: uppercase;
                color: white;
                .grey{
                    color: #A8A8A8;
                }
            }
    
            &-pic{

            }
        }

        &-answer{
            max-width: 45%;
            max-height: 600px;
            overflow: scroll;
            overflow-x: hidden;
            &-item{
                background-color: #222222;
                padding: 25px 35px 30px 30px;
                display: flex;
                flex-direction: column;
                gap: 20px;

                &__topic{
                    font-family: "dmmono";
                    font-style: 1.4rem;
                    line-height: 2.4rem;
                    color:#FFFFFF;
                    width: 100%;
                }

                &__article{
                    font-family: "inter";
                    font-size: 1.2rem;
                    line-height: 2rem;
                    color: #C4C4C4;
                }
            }
        }
    }

    &-team{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        
        &-profile{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            color: #FFFFFF;
            width: 25%;
            
            &__name{
                font-family: "dmmono";
                font-size: 2.1rem;    
            }
            &__role{
                font-family: "dmmono";
                font-size: 1.1rem;
                color: #8DFD1B;
            }
            &-links{
                display: flex;
                flex-direction: row;
                gap: 15px;
            }
            &__quote{
                font-family: "inter";
                font-size: 1.2rem;
                text-align: center;
                max-width: 70%;
            }
        }
    }

    &-discord{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 150px;
        padding-bottom: 120px ;
        &-left{
            display: flex;
            flex-direction: column;
            justify-content: center;
            max-width: 30%;
            gap: 10%;
            &__topic{
                font-family: "audiowide";
                font-size: 5rem;
                color: #FFFFFF;
            }
            .green{
                color: #8DFD1B;
            }
            &__article{
                font-family: "inter";
                font-size: 1.6rem;
                color: #FFFFFF;
                max-width: 90%;
            }
            &__button{
                background-color: #8DFD1B;
                color: black;
                font-family: "dmmono";
                font-size: 1.6rem;
                display: flex;
                flex-direction: row;
                justify-content: center;
                gap: 10px;
                padding: 13px 30px;
                max-width: 60%;
            }

            &__button:hover{
                border:1px solid #8DFD1B;
                color: #8DFD1B;
                background-color: #000000;
                transition: 2s;
            }

        }
    }
}

.footer{
    max-width: 1440px;
    height: 350px;
    background-color: #42006A;
    &-container{
        height: 100%;
        padding: 100px 50px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        font-family: "dmmono";
        color: #FFFFFF;
        
        &-logo{
            display: grid;
            grid-template-rows: repeat(3, 1fr);
            align-items: center;
            font-size: 1.3rem;
            &__item{
                align-self: end;
            }
            &__txt{
                grid-row-start: 3;
            }
        }

        &-sections{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            font-size: 1.6rem;
        }

        &-links{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            font-size: 1.6rem;
        }

        &-by{
            display: grid;
            grid-template-rows: repeat(3, 1fr);
            align-items: center;
            font-size: 1.6rem;
        }

        &-social{
            display: grid;
            grid-template-columns: repeat(4,1fr);
            grid-template-rows: repeat(3, 1fr);
            grid-column-gap: 12px;
            align-items: end;
            font-size: 1.6rem;
        }
    }

}

a:hover{
    color: #8DFD1B;
    transition: 1s;
}